.events-main-div {
    position: absolute;

    left: 47.73vw;
    top: 17.13vh;

    width: 41.67vw;
    height: 74.07vh;

    padding: 3.125vw 6.125vw;

    background: white;

    box-sizing: border-box;

    border-radius: 16px;

    overflow: scroll;
}

.events-title {
    margin-bottom: 10px;

    font-family: "PoorStory";
    font-size: 25px;
}

.line {
    background-color: black;
    width: 100%;
    height: 1px;
    border: none;
}

.event {
    margin-top: 50px;
}

.event-content {
    margin-bottom: 20px;
}