/* .profile-close-button-div {
    position: relative;
    z-index: 100;
} */

.daughter-2{

    display: inline-block; 
    
    vertical-align: top;
    color: white;
    height: 15.625vw;
}

.username{
    display: inline-block;
    margin-top: 2.3vw;
    font-family: PoorStory;
    font-size: 2.5vw;
    font-weight: 400;
    line-height: 3.125vw;
    letter-spacing: 0em;
    text-align: left;
    width: 19.896vw;
    height: 3.125vw;
    margin-left: 2.396vw;

    
}

.list{
    margin-left: 2.76vw;
}

.list li{
    display: inline-block;
    font-family: PoorStory;
    text-align: center;
    font-size: 2.5vw;
    font-weight: 400;
    line-height: 3.125vw;
    letter-spacing: 0em;
    text-align: center;
    margin-top: 0;

}

.key-details{
    font-family: Mukta;
    font-size: 1.25vw;
    font-weight: 400;
    line-height: 2.083vw;
    letter-spacing: 0em;
    text-align: center;
    color: RGBA(255,255,255,50%);

}

.show-followers{
    margin-left: 4.635vw;
}

.show-following{
    margin-left: 5.104vw;
}

.head{
    height: fit-content;
    width: fit-content;
}

.daughter-2 ul{
    margin-top: 0;
}

.edit-profile-button{
    text-decoration: none;
    color: white;
    text-decoration: none;

    font-family: Mukta;
    font-size: 0.833vw;
    font-weight: 400;
    line-height: 1.302vw;
    letter-spacing: 0em;
    text-align: center;

}

.edit-profile-button:hover {
    text-decoration: underline;
    text-underline-offset: 2px;
}

.display-none{
    display: none;
}

.list a{
    text-decoration: none;
    color: white;
}
