
.post_content {
    background-color: #FFFFFF;
    height:75vh;
    width:40vw;
    position: relative;
    left:0px;
    top:-3.2vh;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.post-image {
    flex: 1;

    max-width: 100%;
    height: 100%;

    border-radius: 30px 30px 0 0;

    object-fit: contain;

    background-color: #1a1a1a;
}

.post-caption {
    position: relative;
    width:100%;
    height:9vh ;
    padding: 15px;

    background: #464646;
    color: white;

    /* opacity: 0.7; */

    font-size: 22px;
    font-family: "Mukta";

    border-radius: 0 0 30px 30px;
}

.post_det {
    position:relative;
    top:0px;
    left:0px;
    width: 40vw;
    height: 14vh;
    background-color: #106EE8;
    border-radius: 30px 30px 0px 0px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.post_auth {
    position:relative;
    top:2vh;
    left:2vw;
    /* width: 234px; */
    height: 14vh;
    font-family: Mukta;
    color:#FFFFFF;
    font-size: 26px;
    font-weight: 400;
    line-height: 52px;
    letter-spacing: 0em;
    text-align: left;
    text-decoration: none;
}

.post_auth:hover {
    cursor: pointer;
}

.post {
    height:110%;
    width: 80%;
}


.bar {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 3.3vw;
    height: 147px;
    top: -20vh;
    left: 42vw;    
    border-radius: 15px;
    background-color: #99999961;
    justify-content: center;
    align-items: center;
    align-content: space-around;
}

.notLiked {
    position: relative;
    top:-10px;
    width:29.02px;
    height: 29.02px;
    background-image: url('../../assets/like.svg');
    background-position: center;
    background-size: 90%;
    background-repeat: no-repeat;
    transition: 0.2s;
}

.liked {
    position: relative;
    width:29.02px;
    top:-10px;
    height: 29.02px;
    background-image: url('../../assets/heart-red.svg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: 0.2s;
}

.liked:hover, .notLiked:hover {
    cursor: pointer;
    transform: scale(1.1);
}
.comment_but:hover {
    cursor: pointer;
    transform: scale(1.1);
}
.comment_but {
    width:29.02px;
    height: 29.02px;
    background-image: url('../../assets/message-circle.svg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.share_but {
    position: relative;
    width:29.02px;
    top:10px;
    height: 29.02px;
    background-image: url('../../assets/share.svg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.below_post {
    display: grid;
    grid-template-columns: 100px auto;
    align-content: space-between;
    position: relative;
    top:-150px;
    color:white;
    font-family: Mukta;
    font-size: 22px;
    font-weight: 600;
    line-height: 44px;
    letter-spacing: 0em;
    text-align: left;
}

.like_count .comment_count {
    padding:15px;
}

.post-profile-image-div {
    height: 50px;
    width: 50px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 25px;
    margin-top: 12.5px;
    border-radius: 50%;
}

.post-profile-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.c{
    color:white;
    height:fit-content;
    width:fit-content;
    position: relative;
    top:-95vh;
    left:46.5vw;
}
.comm {
    position: relative;
    top:0;
    left:0;
}
.all-comments{
    position: relative;
    top:0px;
    left:0.8vw;
    height:45vh;
    font-family: Mukta;
    font-size: 22px;
    font-weight: 300;
    line-height: 39.6px;
    text-align: left;
    color:white;
    list-style-type:none;
    overflow-y: auto;
    margin-bottom: 10px;

}
.cauth{
    font-family: Poor Story;
    font-size: 22px;
    font-weight: 400;
    line-height: 39.6px;
    text-align: left;

}
.comment_box {
    position: relative;
    top:0px;
    width:22vw;
    height:4vh;
    background-color: black;
}

.comment_field {
    position: relative;
    top:-1.5vh;
    width:80%;
    height: 4vh;
    background-color: black;
    color:white;
    border:3px solid #106EE8;
    border-radius: 3px;
    padding:10px
}
.comment_field:focus{
    outline: none;
}

.send-btn {
    position: relative;
    height: 4vh;
    width: 4vh;
    top:0px;
    background-image: url('../../assets/sendic.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;
    border:none
}
.send-btn:hover{
    cursor: pointer;
}
.comm-head{
    position: relative;
    width: 9vw;
    height: 5vh;
    top:0px;
    left: 0px;
    border-radius: 10px;
    background: #106EE8;
    color:white;
    font-family: Mukta;
    font-size: 26px;
    font-weight: 600;
    line-height: 52px;
    text-align: center;
}