.div1-chat{
    color: white;
    height: 80vh;
    overflow-y: scroll;

    
}

.heading-chat{
    margin-top: 5vh;
}

.chat-person{
    margin-top: 15px;
}

.chat-pfp{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
