#search_bar_chat{
    position:fixed;
    width: 20%;
    height: 4%;
    top: 2.8%;
    left: 18%;
    z-index:2;
    border:3px solid #106EE8;
    border-radius: 7px;
}

#search-chat{
    
    position:fixed;
    border:none;
    width: 17.41%;
    height: 2.77%;
    top: 3.2%;
    left: 20%;
    color:white;
    background-color: black;
    font-family:Mukta;
    font-size: 1.2rem;
}

#search-chat:focus{
    outline: none;
}

.search_icon{
    background-color: black;
    background-image: url("../../assets/search.svg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border:none;
    cursor: pointer;
    position:fixed;   
    width: 1.54%;
    height: 2.77%;
    top: 3.3%;
    left: 18.4%;
    border-radius: 7px;
    opacity: 0.58;
    z-index:2;
}
