/* .chat-close-button-div {
    position: relative;

    bottom: 80px;
    left: 39.67vw;

    height: 48px;
    width: 48px;

    background-image: url('../../assets/xmark-solid.svg');
    background-repeat: no-repeat;
    background-size: 62.5%;
    background-position: center;

    border-radius: 50%;
} */


.chat-messages{
    overflow-y: scroll;
    height: 70vh;
}
/* .chatbox{
    overflow-y: scroll;
    height: 50vh;
} */