
.daughter-1{
    display: inline-block; 
    margin-top: 3.281vw;
    margin-left: -3.333vw;
    height: 12.344vw;
}

.daughter-1 img{
    border-radius: 50%;
    background-image: url('../../assets/user-regular-dark.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70%;
    width:10.417vw;
    height:10.417vw
}


