.create-title {
    position: relative;

    padding: 31px 0 0 0;

    font-family: "Mukta";

    font-size: 48px;
    font-weight: 600;
    line-height: 80px;
    letter-spacing: 0em;
    text-align: left;

    color: white;
}

.create-close-button-div {
    position: relative;

    float: right;
    bottom: 51px;
    left: 80px;

    height: 48px;
    width: 48px;

    background-image: url('../../assets/xmark-solid.svg');
    background-repeat: no-repeat;
    background-size: 62.5%;
    background-position: center;

    border-radius: 50%;
}

.create-close-button-div:hover {
    background-color: rgb(76, 75, 75);
    cursor: pointer;
}

.details {
    display: flex;
    flex-direction: row;
}

form {
    position: relative;
}

.create-form-inputs {
    margin-top: 30px;
}

#caption {
    position: relative;
    
    box-sizing: border-box;

    height: var(--textarea-height);
    width: 100%;

    margin-bottom: 57px;
    margin: 5px 0;
    padding: 10px;

    font-family: "PoorStory";
    font-size: 1.5rem;
    line-height: 1.3rem;
    color: var(--input-color);
    resize: none;

    background-color: var(--input-background-color);
    border: 1px var(--input-color) solid;
    border-radius: 16px;
}

#caption.dark {
    background-color: var(--input-background-color-dark);
    color: white; 

    border: 1px white solid;
}


.caption-label {

    height: fit-content;

    font-size: 25px;
    font-family: "Mukta";
    color: var(--text-color-dark);
}

.submit-div {
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 3rem;
}

.create-submit {
    font-family: "Mukta";
    font-size: 24px;

    width: 140px;
    height: 47px;

    padding: 0.25rem;
    margin-top: -35px;
    /* margin-bottom: 20px; */

    color: var(--text-color-dark);
    background-color: var(--button-color);
    border: none;
    border-radius: 5px;

    transition: 0.2s;
}

.create-submit.dark {
    background-color: var(--button-dark-color);
}

.create-submit:hover {
    cursor: pointer;
    transform: scale(1.1);
    opacity: 1;
}

.create-image-label {
    display: flex;

    justify-content: center;
    align-items: center;

    position: relative;

    width: 100%;
    height: 375.41px;

    top: 0;
    left: 0;

    border-radius: 29px;
    border: 1px;

    background: rgba(255, 255, 255, 0.14);
    
    border: 1px solid white;
}

.create-image-label-container {
    display: flex;
    flex-direction: row;
}

.create-image-label-icon {
    position: relative;

    width: 60px;
    height: 60px;

    background-image: url('../../assets/plus-circle.svg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    margin-right: 10px;
}

.create-image-label-text {
    font-family: "Mukta";
    font-size: 40px;
    font-weight: 400;
    line-height: 66px;
    letter-spacing: 0em;
    text-align: left;

    color: rgba(255, 255, 255, 0.5);
}

.selected-create-image {
    position: relative;
    
    height: 100%;
    width: 100%;

    object-fit: contain;

    background: #111111;
    border-radius: 29px;
}

#create-image {
    display: none;
}

.hide {
    display: none;
}