

label {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    z-index: 1;
    box-sizing: border-box;

    width: max-content;
    bottom: 0;
    right: 390px;

    font-family: "PoorStory";
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;


    transition: 0.3s;
}

input {
    position: relative;
    left: 0;
    top: 0;
    margin: 0 0;
    padding: 5px;
    box-sizing: border-box;

    width: 400px;

    font-size: 1.1rem;
    line-height: 1.5rem;
    color: var(--input-color);

    background-color: var(--input-background-color);
    border: none;
    border-radius: 0px;
}

input.dark {
    background-color: var(--input-background-color-dark);
    color: var(--input-color-dark); 

    border: none;
}

input:focus {
    outline: none;
}

input:focus + label {
    display: none;
    position: relative;

    /* animation: fade 200s both; */
}

input:valid + label {
    display: none;
}

.eye {
    width: 24px;
    height: 24px;

    position: absolute;

    left: 350px;

    z-index: 2;
}

.eye:hover {
    cursor: pointer;
}

.eye img {
    width: 100%;
    height: 100%;
}

.eye img.dark {
    display: none;
}

.hidden {
    display: none;
}

.error-msg {
    color: red;
    font-size: 1rem;

    position: absolute;
    transform: translateY(1.7rem);
}


@keyframes fade {
    0% {
        opacity: 1;
        transform: none;
    } 0.3% {
        opacity: 0;
        transform: translate3d(100%, 0, 0);
    } 100% {
        opacity: 0;
        transform: translate3d(100%, 0, 0);
    }
}