.calendar-main-div {
    position: absolute;

    width: auto;
    height: auto;

    left: 24.24vw;
    top: 13.63vh;

    padding: 30px;

    background: white;
    box-shadow: 6px 4px 20.399999618530273px 0px #00000040;
    border-radius: 16px;

    display: grid;
    grid-template-columns: 3.33vw 3.33vw 3.33vw 3.33vw 3.33vw 3.33vw 3.33vw;
    grid-template-rows: 3.33vw 3.33vw 3.33vw 3.33vw 3.33vw 3.33vw 3.33vw 3.33vw;
    /* gap: 1px; */

    font-family: "Inter";

    z-index: 2;
}

.month-name {
    grid-column: 1 / span 7;

    display: flex;
    align-items: center;

    margin-left: 20px;
    font-family: "Inter Bold";
    font-size: 24px;
}

.day-titles {
    grid-column: 1 / span 7;
    grid-row: 2 / 3;

    font-family: "Inter Bold";
    font-size: 1rem;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.date {
    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px #d5d4df solid;

    font-size: 14px;

    transition: 0.2s ease;
}

.date:hover {
    transform: scale(1.1);
    box-shadow: 0 0 5px black;
    border: black solid 1px;
}

.today {
    background-color: rgb(234, 250, 87);
}