.popup-card {
    position: relative;

    top: 58px;

    left: 18vw;
    width: 53.96vw;

    min-height: 966px;

    border-radius: 30px 30px 0 0;

    padding: 0 127px;

    background: #1D1E1D;

    box-sizing: border-box;

    z-index: 3;

    overflow-x: hidden;
    /* overflow-y: scroll; */

    /* overscroll-behavior: contain; */
}