.details-title {
    position: relative;

    margin: 31px 0 0 0;

    font-family: "Mukta";

    font-size: 48px;
    font-weight: 600;
    line-height: 80px;
    letter-spacing: 0em;
    text-align: left;

    color: white;
}

.details {
    display: flex;
    flex-direction: row;
}

form {
    position: relative;
}

#bio {
    position: relative;
    margin: 5px 0;
    padding: 5px;
    box-sizing: border-box;

    height: var(--textarea-height);
    width: 100%;

    margin-bottom: 57px;
    padding: 10px;

    font-family: "PoorStory";
    font-size: 1.2rem;
    line-height: 1.3rem;
    color: var(--input-color);
    resize: none;

    background-color: var(--input-background-color);
    border: 1px var(--input-color) solid;
    border-radius: 16px;
}

#bio.dark {
    background-color: var(--input-background-color-dark);
    color: white; 

    border: 1px white solid;
}

.bio-label {
    position: absolute;
    top: 175px;
    left: 0;

    height: fit-content;

    font-size: 25px;
    font-family: "Mukta";
    color: var(--text-color-dark);
}

.submit-div {
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 3rem 5rem;
}

.submit {
    font-family: "PoorStory";
    font-size: 27px;

    width: 140px;
    height: 47px;

    padding: 0.5rem;

    color: var(--text-color-dark);
    background-color: var(--button-color);
    border: none;
    border-radius: 5px;

    transition: 0.2s;
}

.submit.dark {
    background-color: var(--button-dark-color);
}

.submit:hover {
    cursor: pointer;
    transform: scale(1.1);
    opacity: 1;
}