.bio{
    height: 5.208vw;
    display: flex;
    flex-direction: column;
    background: #1D1E1D;
    width: 53.958vw;
    margin-top: 0;
    margin-left: -6.615vw;
    color: white;
    width: 20.833vw;
}

.name{
    display: block;
    font-family: Mukta;
font-size: 1.563vw;
font-weight: 600;
line-height: 2.604vw;
letter-spacing: 0em;
margin-left: 3.281vw;
height: 2.604vw;

}

.user-bio{
    height: 2.604vw;
    display: block;
    font-family: Mukta;
font-size: 1.25vw;
font-weight: 400;
line-height: 2.083vw;
letter-spacing: 0em;
text-align: left;
margin-left: 3.281vw;


}

.acad-details{
    display: inline-flex;
    background-color: #1D1E1D;
    width: 33.125vw;
}
.bada-bio{
    display: inline-flex;
}

.acad{
border-radius: 6px;
border: 1px solid #106EE8;
color: #106EE8;
height: 2.083vw;
font-family: Mukta;
font-size: 1.25vw;
font-weight: 400;
line-height: 2.083vw;
letter-spacing: 0em;
text-align: center;
padding: 0 0.677vw;


}

.degree{
    margin-right: 4.167vw;
}

.subject{
    margin-right: 4.127vw;
}

.button-profile{
    background-color: aliceblue;
    width: 23.906vw;
    height: 3.073vw;
    border: 0;
    border-radius: 10px;
font-family: Mukta;
font-size: 1.563vw;
font-weight: 200;
line-height: 2.604vw;
letter-spacing: 0em;
text-align: center;
background-color: transparent;
cursor: pointer;

}

.follow-button, .unfollow-button{
    background: #74876A;

    color: white;
}
.message-button{
    border: solid 4px#74876A;
    color: #74876A;
}

.profile-buttons-container{
    position: relative;
    margin-top: 5.208vw;
    display: inline-flex;
    margin-left: -5.85vw;
    margin-bottom: 2.734vw;
}

.message-button{
    margin-left: 2.031vw;
}


.display-none {
    display: none;
}