.followers-overlay {
    position: absolute;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6px);

    overflow: hidden;

    z-index: 2;
    color:white
}

.scrollable-container {
    position: relative;
    
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;

    height: 100vh;

    overflow-y: scroll;
}
.followers-sidebar {
    z-index: 200;
}
.follow-close-button-div {
    position:relative;

    left: 40vw;
    top:-2vh;

    height: 2.5vw;
    width: 2.5vw;

    background-image: url('../../assets/xmark-solid.svg');
    background-repeat: no-repeat;
    background-size: 62.5%;
    background-position: center;

    border-radius: 50%;
    z-index: 3;
}
.follow-close-button-div:hover {
    background-color: rgb(76, 75, 75);
    cursor: pointer;
}

.head{
    height: 8vh;
    margin-bottom:15px;
}
.heading{
    position:relative;
    top:1vh;
    font-size:35px;
    padding-top:2vh;
}
.l1{
    list-style-type:none;
    color: #106EE8;
    font-size: 22px;
}
.follower{
    text-decoration: none;
    display: flex;
    padding:10px
    
}
.follower:visited{
    color: #106EE8;
}
.profile-image-div {
    height: 50px;
    width: 50px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
   padding:19px;
   padding-top: 0px;
   margin-right: 10px;
    border-radius: 50%;
}

.profile-image {
    width: 50px;
    height: 50px;
    
    border-radius: 50%;
}
