

.single-post {
    text-align: center;
    display: inline-block;
    background-color: black;
    margin-left: 2.188vw;
    margin-bottom: 2.188vw;
}

.posts-container{
    text-align: left;
    width: 53.958vw;
    margin-left: -8.5vw;
}

.single-post img{
    width: 23.698vw;
    height: 23.698vw;
    margin: 2px;

}


