.card {
    position: absolute;

    width: 28.67vw;
    height: 69.86vh;
    min-height: 595px;

    top: 12.03vh;
    left: 23.35vw;

    background: var(--card-background-color);

    box-shadow: 0px 4px 4px 0px #00000040;
}

.card.darkMode {
    border: var(--border-color-dark) solid 2px;
}

.background-1 {
    position: absolute;

    width: 29.05vw;
    height: 70.94vh;
    min-height: 605px;

    top: 12.536vh;
    left: 22.395vw;

    background: var(--card-background-color);

    box-shadow: 0px 4px 4px 0px #00000040;
}

.background-2 {
    position: absolute;

    width: 29.61vw;
    height: 71.68vh;
    min-height: 610px;

    top: 13.11vh;
    left: 21.25vw;

    background: var(--card-background-color);
}
