select {
    position: relative;
    margin: 5px 0;
    padding: 5px;
    box-sizing: border-box;

    /* appearance: none; */

    width: 60%;

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.1rem;
    line-height: 1.3rem;
    color: var(--input-color);

    background-color: var(--input-background-color);
    border: 1px solid #106EE8;
    border-radius: 10px;
}

select.dark {
    color: white;

    background-color: var(--input-background-color-dark);
    border: 1px solid #106EE8
}

select + label {
    position: relative;
    bottom: 2.5rem;
    left: -13rem;

    font-family: "Mukta";
    font-size: 25px;

    color: var(--text-color-dark);
}

select:hover {
    cursor: pointer;
}

select:focus-visible {
    /* border: none; */
    outline: none;
}

select#department {
    width: 100%;

    margin-bottom: 20px;
}

select#department + label {
    position: relative;
    bottom: 6rem;
    left: 0rem;
}